In [1]:
import sys
sys.path.append('../')
import utils

CIMIS_DATAFILE = "../input/cimis.csv"
WESTPOND_DATAFILE = "../input/WP_2012195to2015126_L3.mat"
WESTPOND_REFL_VEG_IDX = "../input/MODIS/2016-03-25-US-Tw1-MOD13Q1.csv"
WESTPOND_LST_EM = "../input/MODIS/2016-03-25-US-Tw1-MOD11A2.csv"
MAYBERRY_DATAFILE = "../input/MB_2010287to2016055_L3.mat"
MAYBERRY_REFL_VEG_IDX = "../input/MODIS/2016-03-25-US-Myb-MOD13Q1.csv"
MAYBERRY_LST_EM = "../input/MODIS/2016-03-25-US-Myb-MOD11A2.csv"

### CIMIS, w/ and w/o interpolation

In [2]:
cimis = utils.process_cimis(CIMIS_DATAFILE, interpolate_missing=False)
cimis.iloc[:15]

Processing ../input/cimis.csv...

    avg_air_temp  avg_soil_temp  doy  net_rad  year
0            6.9            8.4    1      1.0  2000
1            7.2            8.5    2     26.0  2000
2            6.6            8.5    3     28.0  2000
3            7.0            8.4    4     13.0  2000
4            9.2            8.6    5     23.0  2000
5            4.3            8.2    6     27.0  2000
6            8.1            8.3    7     30.0  2000
7            6.5            8.6    8     15.0  2000
8            8.4            8.8    9     19.0  2000
9            9.9            9.4   10     18.0  2000
10          10.3            9.9   11    -10.0  2000
11           NaN            NaN   12      NaN  2000
12           NaN            NaN   13      NaN  2000
13           NaN            NaN   14      NaN  2000
14           NaN            NaN   15      NaN  2000

In [3]:
cimis = utils.process_cimis(CIMIS_DATAFILE, interpolate_missing=True)
cimis.iloc[:15]

Processing ../input/cimis.csv...

    avg_air_temp  avg_soil_temp  doy  net_rad  year
0           6.90           8.40    1      1.0  2000
1           7.20           8.50    2     26.0  2000
2           6.60           8.50    3     28.0  2000
3           7.00           8.40    4     13.0  2000
4           9.20           8.60    5     23.0  2000
5           4.30           8.20    6     27.0  2000
6           8.10           8.30    7     30.0  2000
7           6.50           8.60    8     15.0  2000
8           8.40           8.80    9     19.0  2000
9           9.90           9.40   10     18.0  2000
10         10.30           9.90   11    -10.0  2000
11         10.35          10.04   12     -6.0  2000
12         10.40          10.18   13     -2.0  2000
13         10.45          10.32   14      2.0  2000
14         10.50          10.46   15      6.0  2000

### MODIS Surface Reflectance and Vegetation Indices

In [4]:
df = utils.process_modis_reflectance_veg_index(WESTPOND_REFL_VEG_IDX, prefix="wp", interpolate_missing=True)
df.head()

Processing ../input/MODIS/2016-03-25-US-Tw1-MOD13Q1.csv...

,doy,wp_bnd1,wp_bnd2,wp_bnd3,wp_bnd7,wp_evi,wp_lswi,wp_ndvi,year
0,1,0.059000,0.152300,0.027700,0.130800,0.179600,0.075945,0.441500,2001
1,2,0.059263,0.151887,0.028063,0.132756,0.178494,0.067868,0.438588,2001
2,3,0.059525,0.151475,0.028425,0.134713,0.177388,0.059792,0.435675,2001
3,4,0.059788,0.151062,0.028788,0.136669,0.176281,0.051715,0.432762,2001
4,5,0.060050,0.150650,0.029150,0.138625,0.175175,0.043638,0.429850,2001

### MODIS 1km 8-day Land Surface Temperature & Emissivity

In [5]:
df = utils.process_modis_lst_emissivity(WESTPOND_LST_EM, prefix="wp", interpolate_missing=True)
df.head()

Processing ../input/MODIS/2016-03-25-US-Tw1-MOD11A2.csv...

   doy  wp_LST.day  wp_LST.night  year
0    1       14.21        -0.210  2001
1    2       13.84        -0.235  2001
2    3       13.47        -0.260  2001
3    4       13.10        -0.285  2001
4    5       12.73        -0.310  2001

### Eddy Covariance Data

In [6]:
df = utils.process_tower(WESTPOND_DATAFILE, prefix="wp", interpolate_missing=True)
df.head()

Processing ../input/WP_2012195to2015126_L3.mat...

,year,doy,wp_ch4_gf,wp_co2_gf,wp_er,wp_gpp,wp_h,wp_le
0,2012,195,4332.368657,-304.542172,145.072376,-449.614548,1447.549899,7579.945701
1,2012,196,5305.896768,-335.648791,150.278671,-485.927462,1921.833137,7499.311415
2,2012,197,6215.371936,-313.150966,158.307017,-471.457982,1176.374322,8326.568260
3,2012,198,7129.353337,-339.900067,153.561669,-493.461736,2575.636175,6308.806178
4,2012,199,7070.768573,-319.771564,144.053480,-463.825044,1916.081260,6079.500956