In [1]:
import sys
sys.path.append('../')
import utils

CIMIS_DATAFILE = "../data/CIMIS/20160413-CIMIS-TWT-daily-2001-2016.csv"
WESTPOND_DATAFILE = "../input/WP_2012195to2015126_L3.mat"
WESTPOND_REFL_VEG_IDX = "../data/MODIS/2016-04-13-US-Tw1-MOD13Q1.csv"
WESTPOND_LST_EM = "../data/MODIS/2016-04-13-US-Tw1-MOD11A2.csv"
MAYBERRY_DATAFILE = "../input/MB_2010287to2016055_L3.mat"
MAYBERRY_REFL_VEG_IDX = "../data/MODIS/2016-04-13-US-Myb-MOD13Q1.csv"
MAYBERRY_LST_EM = "../data/MODIS/2016-04-13-US-Myb-MOD11A2.csv"
TOWER_LWI = "../data/Tower-data/2016-04-14_daily_TOWER_LW.csv"

### CIMIS, w/ and w/o interpolation

In [2]:
cimis = utils.process_cimis(CIMIS_DATAFILE, interpolate_missing=False)
cimis.iloc[:15]

Processing ../data/CIMIS/20160413-CIMIS-TWT-daily-2001-2016.csv...

,PET,VPD,air_temp,doy,precip,soil_temp,sw_in,wind_speed,year
0,0.39,0.032864,2.975000,1,0.3,8.787500,5.0832,1.616667,2001
1,0.60,0.061891,3.212500,2,0.3,8.758333,6.4440,1.362500,2001
2,1.23,0.199224,5.279167,3,0.3,8.737500,10.0260,1.250000,2001
3,0.99,0.145448,4.212500,4,0.3,8.683333,8.7696,1.112500,2001
4,1.26,0.172839,5.208333,5,0.2,8.629167,10.0404,1.454167,2001
5,1.13,0.173236,5.429167,6,0.2,8.533333,9.3384,1.495833,2001
6,0.35,0.106440,5.333333,7,0.6,8.554167,3.9780,1.433333,2001
7,0.39,0.116188,9.104167,8,11.1,9.137500,3.3552,2.445833,2001
8,0.54,0.143064,7.895833,9,0.1,9.237500,4.5468,3.116667,2001
9,0.17,0.102569,8.125000,10,13.1,9.258333,1.1232,6.529167,2001
10,0.53,0.147510,7.929167,11,4.1,9.258333,2.2860,5.395833,2001
11,1.49,0.217528,8.329167,12,0.6,9.391667,10.5984,2.900000,2001
12,1.63,0.236218,8.950000,13,0.4,9.400000,10.8504,2.475000,2001
13,1.72,0.292041,8.041667,14,0.0,9.612500,11.3004,3.345833,2001
14,3.10,0.518011,7.787500,15,0.0,9.012500,11.8116,5.966667,2001

In [3]:
cimis = utils.process_cimis(CIMIS_DATAFILE, interpolate_missing=True)
cimis.iloc[:15]

Processing ../data/CIMIS/20160413-CIMIS-TWT-daily-2001-2016.csv...

,PET,VPD,air_temp,doy,precip,soil_temp,sw_in,wind_speed,year
0,0.39,0.032864,2.975000,1,0.3,8.787500,5.0832,1.616667,2001
1,0.60,0.061891,3.212500,2,0.3,8.758333,6.4440,1.362500,2001
2,1.23,0.199224,5.279167,3,0.3,8.737500,10.0260,1.250000,2001
3,0.99,0.145448,4.212500,4,0.3,8.683333,8.7696,1.112500,2001
4,1.26,0.172839,5.208333,5,0.2,8.629167,10.0404,1.454167,2001
5,1.13,0.173236,5.429167,6,0.2,8.533333,9.3384,1.495833,2001
6,0.35,0.106440,5.333333,7,0.6,8.554167,3.9780,1.433333,2001
7,0.39,0.116188,9.104167,8,11.1,9.137500,3.3552,2.445833,2001
8,0.54,0.143064,7.895833,9,0.1,9.237500,4.5468,3.116667,2001
9,0.17,0.102569,8.125000,10,13.1,9.258333,1.1232,6.529167,2001
10,0.53,0.147510,7.929167,11,4.1,9.258333,2.2860,5.395833,2001
11,1.49,0.217528,8.329167,12,0.6,9.391667,10.5984,2.900000,2001
12,1.63,0.236218,8.950000,13,0.4,9.400000,10.8504,2.475000,2001
13,1.72,0.292041,8.041667,14,0.0,9.612500,11.3004,3.345833,2001
14,3.10,0.518011,7.787500,15,0.0,9.012500,11.8116,5.966667,2001

### MODIS Surface Reflectance and Vegetation Indices

In [4]:
df = utils.process_modis_reflectance_veg_index(WESTPOND_REFL_VEG_IDX, prefix="wp", interpolate_missing=True)
df.head()

Processing ../data/MODIS/2016-04-13-US-Tw1-MOD13Q1.csv...

,doy,wp_bnd1,wp_bnd2,wp_bnd3,wp_bnd7,wp_evi,wp_lswi2,wp_ndvi,year
0,15,0.059000,0.152300,0.027700,0.130800,0.179600,0.075945,4415.000000,2001
1,16,0.065411,0.248971,0.037622,0.141885,0.329761,0.243534,4167.727040,2001
2,17,0.063200,0.145700,0.033500,0.162100,0.161900,-0.053281,3949.000000,2001
3,18,0.065410,0.249047,0.037619,0.141879,0.329880,0.243688,3759.651570,2001
4,19,0.065410,0.249085,0.037617,0.141875,0.329939,0.243765,3598.514426,2001

### MODIS 1km 8-day Land Surface Temperature & Emissivity

In [5]:
df = utils.process_modis_lst_emissivity(WESTPOND_LST_EM, prefix="wp", interpolate_missing=True)
df.head()

Processing ../data/MODIS/2016-04-13-US-Tw1-MOD11A2.csv...

   doy  wp_LST.day  wp_LST.night  year
0    4   14.210000     -0.210000  2001
1    5   13.644185     -0.399740  2001
2    6   13.398107     -0.384504  2001
3    7   13.176305     -0.365927  2001
4    8   12.978777     -0.344007  2001

### Eddy Covariance Data

In [6]:
df = utils.process_tower(WESTPOND_DATAFILE, prefix="wp", interpolate_missing=True)
df.head()

Processing ../input/WP_2012195to2015126_L3.mat...

,year,doy,wp_RNET,wp_ch4_gf,wp_co2_gf,wp_er,wp_gpp,wp_h,wp_le
0,2012,195,20.798342,935.791630,-65.781109,31.335633,-97.116742,2.605590,13.643902
1,2012,196,20.573593,1146.073702,-72.500139,32.460193,-104.960332,3.459300,13.498761
2,2012,197,20.475931,1342.520338,-67.640609,34.194316,-101.834924,2.117474,14.987823
3,2012,198,20.571045,1539.940321,-73.418414,33.169321,-106.587735,4.636145,11.355851
4,2012,199,16.757401,1527.286012,-69.070658,31.115552,-100.186209,3.448946,10.943102

In [9]:
df = utils.process_tower_lwi(TOWER_LWI, interpolate_missing=False)
df

Processing ../data/Tower-data/2016-04-14_daily_TOWER_LW.csv...

      year  doy   LW_IN.wp  LW_IN.si      LW_IN
0     2010    1        NaN       NaN        NaN
1     2010    2        NaN       NaN        NaN
2     2010    3        NaN       NaN        NaN
3     2010    4        NaN       NaN        NaN
4     2010    5        NaN       NaN        NaN
5     2010    6        NaN       NaN        NaN
6     2010    7        NaN       NaN        NaN
7     2010    8        NaN       NaN        NaN
8     2010    9        NaN       NaN        NaN
9     2010   10        NaN       NaN        NaN
10    2010   11        NaN       NaN        NaN
11    2010   12        NaN       NaN        NaN
12    2010   13        NaN       NaN        NaN
13    2010   14        NaN       NaN        NaN
14    2010   15        NaN       NaN        NaN
15    2010   16        NaN       NaN        NaN
16    2010   17        NaN       NaN        NaN
17    2010   18        NaN       NaN        NaN
18    2010   19        NaN       NaN        NaN
19    2010   20        NaN       NaN        NaN
20    2010   21        NaN       NaN        NaN
21    2010   22        NaN       NaN        NaN
22    2010   23        NaN       NaN        NaN
23    2010   24        NaN       NaN        NaN
24    2010   25        NaN       NaN        NaN
25    2010   26        NaN       NaN        NaN
26    2010   27        NaN       NaN        NaN
27    2010   28        NaN       NaN        NaN
28    2010   29        NaN       NaN        NaN
29    2010   30        NaN       NaN        NaN
...    ...  ...        ...       ...        ...
2229  2016   39  28.095402       NaN  28.095402
2230  2016   40  28.573247       NaN  28.573247
2231  2016   41  28.444618       NaN  28.444618
2232  2016   42  29.051654       NaN  29.051654
2233  2016   43  29.041414       NaN  29.041414
2234  2016   44  27.961972       NaN  27.961972
2235  2016   45  28.934797       NaN  28.934797
2236  2016   46  28.467461       NaN  28.467461
2237  2016   47  29.578077       NaN  29.578077
2238  2016   48  31.086933       NaN  31.086933
2239  2016   49  28.540070       NaN  28.540070
2240  2016   50  29.181615       NaN  29.181615
2241  2016   51  26.835592       NaN  26.835592
2242  2016   52  27.018039       NaN  27.018039
2243  2016   53  26.796196       NaN  26.796196
2244  2016   54  26.176614       NaN  26.176614
2245  2016   55  27.856222       NaN  27.856222
2246  2016   56  28.709104       NaN  28.709104
2247  2016   57  29.895283       NaN  29.895283
2248  2016   58  27.957427       NaN  27.957427
2249  2016   59  28.579208       NaN  28.579208
2250  2016   60  28.804832       NaN  28.804832
2251  2016   61  28.789523       NaN  28.789523
2252  2016   62  29.656282       NaN  29.656282
2253  2016   63  32.076475       NaN  32.076475
2254  2016   64  32.784148       NaN  32.784148
2255  2016   65  33.004534       NaN  33.004534
2256  2016   66  29.543671       NaN  29.543671
2257  2016   67  28.989912       NaN  28.989912
2258  2016   68  24.728008       NaN  24.728008

[2259 rows x 5 columns]

In [1]:
df = utils.process_tower_lwi(TOWER_LWI, interpolate_missing=True)
df

NameError: name 'utils' is not defined

In [ ]:
df.plot()